/*Colors*/
ol {
  list-style-position: inside;
  text-indent: 0;
}
ol li {
  margin-bottom: 10px;
}
/*Mixins*/
.sprite {
  background: url(../images/sprite.png) no-repeat;
}
.downloadPolicyBtn {
  background-color: #e6e6e6;
  border: 1px solid #dddddd;
  padding: 10px 0;
}
.transition {
  transition: all ease-in 150ms;
}
.fontSmall {
  font-size: 12px;
}
.fontMed {
  font-size: 24px;
}
.fontLarge {
  font-size: 36px;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.italicSerif {
  display: block;
  font-family: Adobe Caslon Pro, times, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  margin: 0 auto;
  text-transform: lowercase;
}
.boxShadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.breakColMobileMixin {
  width: 100%;
  margin-right: 0;
}
/*HideSolpartMenu*/
#dnn_dnnSOLPARTMENU_ctldnnSOLPARTMENU {
  display: none;
}
.blueGradient {
  background: #036;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #0062c5 0%, #004890 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #0062c5), color-stop(100%, #004890));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #0062c5 0%, #004890 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #0062c5 0%, #004890 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #0062c5 0%, #004890 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #0062c5 0%, #004890 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0062c5', endColorstr='#004890', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
/*Home*/
@media (min-width: 768px) {
  .homeFirstSection {
    min-height: 503px;
  }
}
/* Research Team */
.researchTeam h3 {
  font-size: 1;
}
.researchTeam .logoImage {
  max-height: 140px;
  width: auto;
}
.researchTeam p {
  margin: 0;
  padding: 0 0 5px;
}
.researchTeam .caption {
  font-size: 16px;
  font-weight: 200;
  color: #555555;
  line-height: 1.3;
}
.readMoreLessWrapper {
  display: none;
}
.readMoreLabel,
.readLessLabel {
  color: #4799b5;
  cursor: pointer;
}
.readLessLabel {
  display: none;
}
.readMoreLabel {
  display: block;
}
.sayLess .readLessLabel {
  display: block;
}
.sayLess .readMoreLabel {
  display: none;
}
/*Staff Directory Page*/
.staffDirWrapper .card {
  min-height: 90px;
}
.staffDirWrapper .card h2 {
  font-size: 20px;
  margin: 0;
}
.staffDirWrapper .card p {
  font-size: 14px;
  margin: 0;
}
.staffDirWrapper .highlightsWrapper {
  text-align: left;
}
.staffDirWrapper .highlightsWrapper h3 {
  font-size: 16px;
  margin-top: 20px;
}
.staffDirWrapper .highlightsWrapper a.sprite {
  float: left;
  margin-right: 10px;
  margin-top: -5px;
}
.staffDirWrapper .highlightsWrapper a {
  color: #4799b5;
}
.staffDirWrapper .highlightsWrapper .blueBlock {
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 80%;
}
.staffDirWrapper .highlightsWrapper .blueBlockAfterContent {
  padding-left: 5px;
}
@media (max-width: 990px) {
  .staffDirWrapper .card h2 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .staffDirWrapper .oneThird {
    width: 100%;
    margin-right: 0;
  }
}
/*Announcements*/
.announcement h2 {
  margin: 0;
}
.announcement .date {
  font-style: italic;
  margin-top: 0;
}
/*contact page*/
.contact h3 {
  margin-bottom: 0;
}
.contact h3 + p {
  margin-top: 0;
}
/*HomeHighlights*/
.hl {
  position: relative;
}
.hl .card {
  color: #4799b5;
  font-size: 14px;
  display: block;
  overflow: auto;
  padding: 10px 10px 0 10px;
  position: relative;
  text-decoration: none;
  min-height: 360px;
}
.hl .hlIcon {
  text-align: center;
}
.hl ul {
  text-align: left;
}
.hl ul a:hover {
  box-shadow: none;
}
.hl h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.hl h5 {
  color: #56a5bf;
}
.hl .bottomLink {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .oneFourth.hl {
    margin-right: 2%;
    width: 49%;
  }
  .oneFourth.hl.gridLast,
  .oneFourth.hl:nth-child(3) {
    margin-right: 0;
  }
  .oneFourth.hl.even {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .highlightsWrapper .hl {
    margin-bottom: 0;
    margin-top: 12px;
  }
}
/*Business Process Guidelines*/
.businessProcessGuidelinesHeading span {
  display: inline-block;
  width: 90%;
}
.expandCollapseWrapper {
  background-color: #4799b5;
  color: #ffffff;
  overflow: auto;
  padding: 10px;
}
.expandCollapseWrapper h2 {
  color: #ffffff;
}
.expandCollapseWrapper .expandCollapseNav {
  float: right;
  list-style: none;
  margin: 0;
}
.expandCollapseWrapper .expandCollapseNav li {
  float: left;
}
.expandCollapseWrapper .expandCollapseNav li .btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
  padding: 6px 10px;
}
.expandCollapseWrapper .expandCollapseNav li:first-child {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .expandCollapseWrapper .expandCollapseNav li .btn {
    padding: 6px 6px;
  }
}
/*Accordion ShowHide Classes*/
.guidelinesSectionWrapper.showThisGSContent {
  border-left: 2px solid #56a5bf;
}
.guidelinesSectionWrapper.showThisGSContent .gs-title-trigger .gs-title {
  background: url(../images/sprite.png) no-repeat;
  background-position: -40px -2232px;
}
.guidelinesSectionWrapper.showThisGSContent .gs-content {
  height: auto;
}
.guidelinesSectionWrapper.evenRow {
  border-left-color: #fcfcfc;
}
.guidelinesSectionWrapper.showThisGSContent.evenRow {
  border-left-color: #566916;
}
.guidelinesSectionWrapper {
  border-left: 2px solid #ffffff;
}
.guidelinesSectionWrapper .gs-title-trigger {
  cursor: pointer;
  padding: 10px;
}
.guidelinesSectionWrapper .gs-title-trigger .gs-title {
  background: url(../images/sprite.png) no-repeat;
  transition: all ease-in 150ms;
  background-position: -40px -2161px;
  cursor: pointer;
  font-size: 14px;
  margin: 0;
  padding: 0 0 0 30px;
}
.guidelinesSectionWrapper h3:first-child {
  font-size: 1.17em;
}
.guidelinesSectionWrapper .gs-content {
  border-left: 2px solid #dddddd;
  height: 0px;
  overflow: hidden;
  padding: 0 30px;
  margin-left: 30px;
}
.guidelinesSectionWrapper:hover {
  background-color: #e6e7e8;
  border-left-color: #56a5bf;
}
.guidelinesSectionWrapper.evenRow:hover {
  border-left-color: #566916;
}
/*Contact*/
.depContactWrapper {
  background-color: #4799b5;
  padding: 2%;
}
.depContactWrapper select {
  width: 100%;
}
